fastapi
uvicorn
python-dotenv
beautifulsoup4
FlagEmbedding
torch
torchvision
torchaudio

minio
langchain-openai
langgraph
grandalf
pymilvus[model]
sentence-transformers
pymongo
mineru[all]
openai-agents
